<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>BMI Demo</h1>
        <p>Demonstrating javascript on the client</p>
    </div>

    <hr>
    <h1>BMI Calculator</h1>
    <br>
    <input type="text" id="height">Height in inches<br>
    <input type="text" id="weight">Weight in pounds<br>
    <button onClick="calc()">Calc</button>
    <button onClick="reset()">Reset</button>
    BMI = <label id="BMI">????</label>



    <script>
      function calc(){
        var h = document.getElementById('height')
        var w = document.getElementById('weight')
        var bmi = document.getElementById('BMI')

        bmi.innerText = 703*w.value/(h.value*h.value)
      }

      function reset(){
        var h = document.getElementById('height')
        var w = document.getElementById('weight')
        var bmi = document.getElementById('BMI')
        h.value=""
        w.value=""
        bmi.innerText = "????"
      }
    </script>


<%- include('bootfooter') -%>
