<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Your Covid Data</title>
    <!-- CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<style>
canvas{
        -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
  </head>
  <body>
   <div class="container-fluid">
