<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>ChatDemo</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
    <h1>Enter your chat</h1>
    <textarea name="chat" id="chat"></textarea>
    <button id="submit">Submit</button>
    <div id="chats"></div>
    <script>
        const chat = document.getElementById("chat")
        const chats = document.getElementById("chats")
        const submit = document.getElementById("submit")
        let msgs = []
        submit.addEventListener("click",(event)=>{

            console.log("button was clicked")
            console.log(chat.value)
            msgs.push(chat.value+" "+new Date())
            chats.innerHTML = "<ul>"+makeChats(msgs)+"</ul>"
        })

        function makeChats(msgs){
            let output=""
            for(let i=1; i<=msgs.length; i++){
                output += `<li> ${msgs[msgs.length-i]} </li>\n`
            }
            return output
        }
    </script>

<%- include('bootfooter') -%>
