<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Grid Demo</h1>
        <p>Here we plan with some of the grid layout features of Bootstrap</p>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md col-sm-2">
          One of three columns - number 1
        </div>
        <div class="col-md col-sm-4">
          One of three columns - number 2
        </div>
        <div class="col-md col-sm-6">
          One of three columns - number 3
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">This is a some more text, see...</div>
        <div class="col-md-3">
          <img src="images/dog.jpg" width="100%">
        </div>
        <div class="col"></div>
        <div class="col-md-3">
          <img src="images/cat.jpg" width="100%">
        </div>
      </div>

    </div>

<%- include('bootfooter') -%>
