<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Grid Demo</h1>
        <p>Here we plan with some of the grid layout features of Bootstrap</p>
    </div>

<%- include('bootfooter') -%>
