<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>hello!</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
    Tim
    Tirtho
    Sunny

<%- include('bootfooter') -%>
