<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>CS152aj Demo App</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
    <ul>
      <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li>
      <li><a href="/myform">Demo of form for my personal app</a></li>

    </ul>
<%- include('bootfooter') -%>
