<%- include('bootheader') -%>
<%- include('menubarC19') -%>
    <div class="jumbotron">
        <h1>Covid19 Demo</h1>
        <p>Demonstrating Node/Express features
           and providing a societally useful service
        </p>
    </div>
    <p>
        This app provides an interface to the latest covid19
        data and allows the user to interactively visualize
        the data.  It is open source and designed primarily for
        teaching about how to build web apps and provide a tool
        which is useful to society at the same time!
    </p>

<%- include('bootfooter') -%>
