<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>High School App 2020</h1>
        <p>Demonstrating Node/Express features</p>
    </div>

<%- include('bootfooter') -%>
