<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global Webpage Comment Form</h1>
        <p>add comments to any page on the web ...</p>
    </div>

    <form method="post" action="/processform">
      URL: <input type="text" id="url" name="url" value="add URL here"> <br>
      comments: <textarea id="theComments" name="theComments"></textarea>


      <input type="submit">
    </form>

<hr>
<h1>BMI Calculator</h1>
<br> <input type="text" id="height">H<br>
<input type="text" id="weight">W<br>
<input type="text" id="BMI">BMI<br>

      <button onClick="calc()">Calc</button>

    <script>
      function calc(){
        var h = document.getElementById('height')
        var w = document.getElementById('weight')
        var bmi = document.getElementById('BMI')

        bmi.value = 703*w.value/(h.value*h.value)
      }
    </script>

<%- include('bootfooter') -%>
